
<section class="visible-md visible-lg">
    {{ $brand := .Site.Params.brand }}
    <!-- {{ $sidebar := .Site.Params.sidebar }} -->
    <div class="brand">
      <a href={{"/" | relURL }}><img class="rounded" src="{{ $brand.avatar | relURL }}" /></a>
      <h3><a href={{"/" | relURL }}>年年</a></h3>
      <p class="bio">看太阳在眼前千百次升起</p>
      <p class="bio">只为找到一个前行的原因</p>
    </div>

    <hr>

    <nav class="navbar">
      {{ range .Site.Menus.main }}
      <div class="container-fluid">
        <a class="navbar-brand mb-0 fs-6 fw-medium" href="{{ .URL | safeURL }}" title="{{ .Name }}">{{ .Name }}</a>
      </div>
      {{ end }}
    </nav>

  </section>
